docs/
**/__pycache__/
.pytest_cache/
config.toml
src/data_masker/data_masker.zip
src/data_masker/requirements.snowflake.txt
.vscode/settings.json
.env
venv/
setup_dev.sql
setup_prod.sql
src/data_masker/.vscode/settings.json
.zip
orchestrate_tasks_dev.sql
orchestrate_tasks_prod.sql
environment.json
lambda_function.zip
lambda_package/*
!lambda_package/lambda_function.py
.force_deploy
