snowflake-snowpark-python[pandas]
snowflake-connector-python>=3.0.0
logging
pyarrow>=7.0.0
snowflake-cli-labs
python-dotenv
pytest
jinja2
pyyaml
boto3
toml==0.10.2
typer==0.15.2
exceptiongroup>=1.2.2
iniconfig==2.0.0
tomli>=2.2.1
cryptography