definition_version: 1
snowpark:
  project_name: "co2_project"
  stage_name: "ANALYTICS_CO2.deployment"
  src: "co2_volatility/"
  functions:
    - name: "calculate_co2_volatility"
      database: "{{ DATABASE_NAME }}"
      schema: "ANALYTICS_CO2"
      handler: "function.calculate_co2_volatility"
      runtime: "3.10"
      signature:
        - name: "current_value"
          type: "float"
        - name: "previous_value"
          type: "float"
      returns: float